<% layout('/layouts/boilerplate') -%>
<style>
  #filters{display:flex;
    padding: 0 0.5rem 0 0.5rem;
    flex: nowrap;
    max-width: 70%;
    align-items: center;
    overflow-x: auto;   
    scroll-behavior: smooth;
   margin-top: 1rem;
   /* border: 1px solid rgb(144, 144, 144) ; */
 border-radius: 12px;
 /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.08), 
 0 1px 3px rgba(0, 0, 0, 0.05); */
}
  #filters::-webkit-scrollbar{display: none;
  }
.filter{ 
  margin-right  : 1.5rem;
  text-align: center;
  margin-top: 1rem;
  opacity: 0.7;
  height: 4rem;
  width: 3.5rem;
   
  
 } 
.listing-top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100vw;
  z-index: 10;
  margin: 0;
  padding: 0;
  
}
 .filter p{ font-size: 0.8rem;}
.filter:hover{
  opacity: 1;
  cursor: pointer;
}
.tax-info{
  display: none;
}
.tax-toggle{
  margin-left: 3rem;
  border: 1.5px solid rgb(187, 187, 187);
  border-radius: 0.8rem;
  padding: 0.5rem;
  padding-bottom: 0.7rem;
  text-align: center;
  height: 3.3rem;
  width:280px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.2rem;
}

.hearticon{
  font-size: 1.5rem;
 
}
.heartdiv {
 text-align: end;
}
.form-switch input{
  font-size: 1.1rem;
}


 #filters {
  margin: 0;
  padding: 0;
  height: 5rem;
  max-width: 100%;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 0 0.5rem;
  /* border: 0.5px solid rgba(189, 187, 187, 0.82); */
  border-radius: 8px;
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.08), 0 1px 3px rgba(0, 0, 0, 0.05); */
  /* max-width: 100%; */
  /* margin: 1rem 2rem; */
  /* gap: 1rem; */
  scrollbar-width: none;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  /* padding: 0 2.5rem; Leave space for buttons */
   gap: 1rem;
  scrollbar-width: none;
  /* max-width: 100%; */
}

#filters::-webkit-scrollbar {
  display: none;
}

.scroll-btn {
  position: absolute;
  z-index: 10;
  top: 50%;
  transform: translateY(-50%);
  background: white;
  color: black;
  border: none;
  font-size: 1.5rem;
  padding: 0.5rem 0.7rem;
  border-radius: 5%;
  cursor: pointer;
  /* box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2); */
  transition: all 0.2s ease;
  opacity: 0.7;
}
.scroll-btn:hover {
  opacity: 1;
}
.scroll-btn.left {
  top: 1.8rem;
  left: -2.0rem;
  scale:0.75
}

.scroll-btn.right {
  top: 1.8rem;
  right: -2rem;
  scale:0.75
}
.scroll-wrapper {
  position: relative;
  width: 70%; /* Use full width */
  display: flex;
  align-items: center;
  justify-content: center;
  /* overflow: hidden; Prevent overflow of arrows */
} 



</style>
<body>
 <div class="listing-top">
  <div class="scroll-wrapper">
    <button class="scroll-btn left" onclick="scrollLeft()">◀</button>

    <div id="filters">
      <div class="filter">
       <div> <i class="fa-solid fa-fire"></i></div>
       <p>Trending</p>
      </div>
      <div class="filter">
       <div> <i class="fa-solid fa-bed"></i></div>
       <p>Rooms</p>
      </div>
      <div class="filter">
       <div> <i class="fa-solid fa-mountain-city"></i></div>
       <p>Iconic Cities </p>
      </div>
      <div class="filter">
       <div> <i class="fa-solid fa-bed"></i></div>
       <p>Amazing Views</p>
      </div>
      <div class="filter">
       <div> <i class="fa-solid fa-chess-rook"></i></div>
       <p>Castles</p>
      </div>
      <div class="filter">
       <div><i class="fa-solid fa-person-swimming"></i></div>
       <p>Amazing Pools</p>
      </div>
      <div class="filter">
       <div> <i class="fa-solid fa-campground"></i></div>
       <p>Camping</p>
      </div>
      <div class="filter">
       <div> <i class="fa-solid fa-cow"></i></div>
       <p>Farms</p>
      </div>
      <div class="filter">
       <div> <i class="fa-solid fa-snowflake"></i></div>
       <p>Arctic</p>
      </div>
      <div class="filter">
       <div> <i class="fa-solid fa-snowflake"></i></div>
       <p>Arctic</p>
      </div>
      <div class="filter">
       <div> <i class="fa-solid fa-snowflake"></i></div>
       <p>Arctic</p>
      </div>
      <div class="filter">
       <div> <i class="fa-solid fa-snowflake"></i></div>
       <p>Arctic</p>
      </div>
      <div class="filter">
       <div> <i class="fa-solid fa-snowflake"></i></div>
       <p>Arctic</p>
      </div>
      <div class="filter">
       <div> <i class="fa-solid fa-snowflake"></i></div>
       <p>Arctic</p>
      </div>
      <div class="filter">
       <div> <i class="fa-solid fa-snowflake"></i></div>
       <p>Arctic</p>
      </div>
      <div class="filter">
       <div> <i class="fa-solid fa-snowflake"></i></div>
       <p>Arctic</p>
      </div>
      <div class="filter">
       <div> <i class="fa-solid fa-snowflake"></i></div>
       <p>Arctic</p>
      </div>
      <div class="filter">
       <div> <i class="fa-solid fa-snowflake"></i></div>
       <p>Arctic</p>
      </div>
      
    </div>
    <button class="scroll-btn right" onclick="scrollRight()">▶</button>
   
  </div>


  <div class="tax-toggle">
    <div class="form-check-reverse form-switch">
      <input class="form-check-input" type="checkbox" role="switch" id="flexswitchCheckDefault">
      <label class="form-check-label" for="flexswitchCheckDefault">Display Total After Taxes</label>
    </div>
  </div>
 </div>

<%-include("../includes/carousel.ejs")%>





 








<div class="row row-cols-lg-4 row-cols-md-3  row-cols-sm-1 ">

  <%  for(entry of list){ %>
<a href="/listings/<%=entry._id%>" style="text-decoration: none;"> 
   <div class="card  listing-card col" style="width: 18rem;">
  <img class="card-img-top" src="<%=entry.image.url%>" alt="Card image cap" style="height: 20rem;">
  <div class="card-img-overlay heartdiv"><i class="fa-regular fa-heart hearticon"></i></div>
  <div class="card-body">
    <p class="card-text">
    <p><b><%=entry.title%> </b> <br> 
      Price: &#8377 <%=entry.price.toLocaleString("en-IN")%> /Night

      <i class="tax-info"> &nbsp+18% GST</i>
    </p>
    </p>  
 
  </div>
</div>

</a>
   
<%}%>

</div>
 


  <!-- <ul>
    <%  for(entry of list){ %>
     <li> <a href="http://localhost:8080/listings/<%=entry._id%>"><%=entry.title%></a>
     


  
      <%}%>

  </ul> -->
   

<script>
  let taxSwitch=document.getElementById("flexswitchCheckDefault")
  let taxinfotoggle=document.getElementsByClassName("tax-info")
  taxSwitch.addEventListener("click",()=>{
   console.log("clicckedd ") 
   for(info of taxinfotoggle){
if(info.style.display==="inline"){
     info.style.display="none";
   }else{
     info.style.display="inline"
   }

  }
  });
  let hearts = document.getElementsByClassName("hearticon");

for (let heart of hearts) {
  heart.addEventListener("click", () => {
    heart.classList.remove("fa-regular");
    heart.classList.add("fa-solid");
    heart.style.color="red"
  });
}

const scrollContainer = document.getElementById('filters');

function scrollLeft() {
  scrollContainer.scrollBy({
    left: -200,
    behavior: 'smooth'
  });
}

function scrollRight() {
  scrollContainer.scrollBy({
    left: 200,
    behavior: 'smooth'
  });
}
 
</script> 
</body>
